@page "/JSObjectReference"
@inherits ObjectReferenceCommonBase

<h1>Hello, objectreferences!</h1>

<br />
This demo reads a file object reference and reads some properties from it in a custom js function.

<br />

<input type="file" @ref=inputElement />
<button @onclick=ReadFile class="btn btn-primary">Read file object reference</button>
<button @onclick=ClearFile class="btn btn-primary">Clear</button>
<button @onclick=CancelFile disabled=@(IsCancelDisabled) class="btn btn-primary">Cancel</button>
<br />
<br />
<progress max="@max" value="@value" />
<br />
<textarea style="max-width: 100%;" cols="50" rows="20">@Output</textarea>