@page "/ObjectUrl"
@inherits ObjectUrlBase

<h1>Hello, object url!</h1>

<br />
This demo returns an <a href="https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL">Object url</a>
 and reads some properties from it in a custom js function. This method is only supported for .NET5 and higher.

<br />

<input type="file" @ref=inputElement />
<button @onclick=ReadFile class="btn btn-primary">Read file object url</button>
<br />
<br />
<textarea style="max-width: 100%;" cols="50" rows="20">@Output</textarea>