@using System.IO;
@inject IFileReaderService fileReaderService
<h1>Hello, dropped files!</h1>

Welcome to your new filestreaming app.
<br />
This demo reads files that was dropped in without doing anything particular with it.
<br />

<DragnDropDivCommon />
<DragnDropInputCommon />

@code {
 
}



