<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>9fa01c57-bbb5-420e-aa9b-ad22f39b77ed</ProjectGuid>
    <publishUrl>C:\Users\Tor\source\repos\GH-PAGES\BlazorFileReader\out</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <TargetFramework>netstandard2.0</TargetFramework>
  </PropertyGroup>



  <UsingTask TaskName="TokenReplace" TaskFactory="CodeTaskFactory" AssemblyFile="$(MSBuildToolsPath)\Microsoft.Build.Tasks.Core.dll">
    <ParameterGroup>
      <Path ParameterType="System.String" Required="true" />
      <Token ParameterType="System.String" Required="true" />
      <Replacement ParameterType="System.String" Required="true" />
    </ParameterGroup>
    <Task>
      <Code Type="Fragment" Language="cs">
        <![CDATA[
string content = File.ReadAllText(Path);
content = content.Replace(Token, Replacement);
File.WriteAllText(Path, content);
]]>
      </Code>
    </Task>
  </UsingTask>
  
  <Target Name="FixBasePathafterPublish" AfterTargets="Publish" >
    <Message Text="Replacing tokens in '$(PublishDir)\$(ProjectName)\dist\index.html'..."></Message>
    <TokenReplace Path="$(PublishDir)\$(ProjectName)\dist\index.html" Token="&lt;base href=&quot;/&quot; /&gt;" Replacement="&lt;base href=&quot;/BlazorFileReader/&quot; /&gt;"/>
  </Target>
  
  <Target Name="CopyToFinalFolder" AfterTargets="AfterPublish" >
    <Message Text="Copying '$(PublishUrl)\$(ProjectName)\dist\' to '$(PublishUrl)\..'" Importance="high"></Message>
    <Exec Command="(robocopy $(PublishUrl)\$(ProjectName)\dist\ $(PublishUrl)\.. /e /mt /njh /njs /ndl /nc /ns ) ^&amp; IF %ERRORLEVEL% LEQ 1 exit 0" IgnoreExitCode="true" />
  </Target>

  <Target Name="RemoveDirectories" AfterTargets="CopyToFinalFolder">
    <RemoveDir Directories="$(PublishUrl)" />
  </Target>
  
  <Target Name="gh-pages publish" AfterTargets="RemoveDirectories" >
    <Message Text="Commiting to github...'" Importance="high"></Message>
    <Exec Command="git --git-dir=$(PublishUrl)\..\.git checkout gh-pages" />
    <Exec Command="git --git-dir=$(PublishUrl)\..\.git pull" />
    <Exec Command="git --git-dir=$(PublishUrl)\..\.git add ." />
    <Exec Command="git --git-dir=$(PublishUrl)\..\.git commit -m &quot;Publish&quot;" />
    <Exec Command="git --git-dir=$(PublishUrl)\..\.git push" />
  </Target>

</Project>